#root {
  text-align: center;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.39);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  font-size: 4rem;
  margin: 1rem;
}

.theme-switcher {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.switch-btn {
  font-size: 1rem;
  letter-spacing: 2px;
  color: black;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.75);
  border-radius: 3px;
}

.dark {
  background-color: black;
  color: white;
}

.dark .switch-btn {
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 0px 2px 8px 0px rgba(255, 255, 255, 0.75);
}

.main-content {
  position: relative;
  margin: 3rem;
}

.footer {
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.github-logo {
  width: 5rem;
}

.dark .github-logo {
  filter: invert(100%);
  width: 5rem;
}
