#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.39);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  font-size: 4rem;
  margin: 1rem;
}

.main-content {
  position: relative;
  margin: 3rem;
}

.footer {
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.github-logo {
  width: 5rem;
}
